<%= render :partial => "layouts/header_topnav" %>
<div style="position:relative; padding-top:200px; display:block;; text-align:center;">
<%=image_tag "http://placehold.it/300x300/F9BCBE/ffffff", class: "attachment-medium wp-post-image"%>
</div>
<div style="position:relative; display:block; width:80%; text-align:center;">
<h1>hellow, there</h1>
<p style="text-align:center;">
I'm Sebastien Gabriel also known as Kb or Kounterb. I'm a visual designer for Google Chrome. This is my main site, where I put pixels I find worth showing or news worth sharing. Feel free to check out my work, Dribbble, download some freebies or simply get in touch.</p>
</div>