

<%= render :partial => "layouts/header_topnav" %>
<div id="home_content"style="">
	<!--<div class="empty"style="height:30px;"></div>-->
	<%=image_tag "/assets/logo15.png", class: "attachment-medium wp-post-image"%>
	<dis style=" padding-bottom:0px; position:relative; margin:auto;display:block; width:80%; text-align:center;">
	<!--<div class="empty"style="height:30px;"></div>-->
		<!--<h1 style="color:#444;font: normal normal 30px/1.8 'Nanum Gothic', sans-serif;margin-bottom:5px;">보금의 작업 공간</h1>-->
		
		<%=image_tag "/assets/linn.png", class: "attachment-medium wp-post-image"%>
		<br>
		<br>
		<h3 class="ko"style=" margin-top:50px;color:#666;width:65%; margin:auto;">안녕하세요.이곳은 저의 작품, 생각, 소개, 그리고 공유하고 싶은 디자인 정보를 올려 놓기위해 만들어진 사이트입니다. 즐거운 시간을 가지세요:) </h3>
		<br>
		

		<!--<hr style="display: block; height: 1px; border: 0; border-top: 1px solid #ccc;margin: 1em 0; padding: 0;">-->
		<!--<h1 style="color:#444; font: normal normal 25px/1.8 'Nanum Gothic', sans-serif; font-size:25px;" >hellow, there</h1>-->
		<h3 style="color:#666; width:65%; margin:auto;">Hello. My name is Bogeum Choi. This homepage is a site for sharing my personal information, my work, thinking and interest about Design. Have a nice time :)  </h3>
			<div class="empty"style="height:30px;"></div>
			<%=image_tag "/assets/linn.png", class: "attachment-medium wp-post-image"%>
					
	</div>

</div>