<%= render :partial => "layouts/header_industrial" %>
<div id="industrial">
	<div class="industrial_brand1">
		<%=image_tag "http://placehold.it/90x90/FAD2DC/ffffff", class: "" %>
		<h1>Brand1</h1>
	</div>
	<div class="industrial_work">

		<%=image_tag "http://placehold.it/600x600/FAD2DC/ffffff", class: "" %>
		<p>여기에 설명이 나옵니다. 여기에 설명이 나옵니다. 여기에 설명이 나옵니다. 여기에 설명이 나옵니다.<p>			
		<%=image_tag "http://placehold.it/600x600/FAD2DC/ffffff", class: "" %>
	</div>  
</div