<head>
	<link data-turbolinks-track="true" href="/assets/application.css?body=1" media="all" rel="stylesheet">
	<link data-turbolinks-track="true" href="/assets/media.css?body=1" media="all" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.6.min.js" type="text/javascript" ></script>
	<script src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js" type="text/javascript"></script>
	<script src="http://www.lottanieminen.com/wordpress/wp-content/themes/lottanieminen/js/main.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://www.lottanieminen.com/wordpress/wp-content/themes/lottanieminen/js/jquery.waitforimages.js" type="text/javascript" charset="utf-8"></script>	
    <script type="text/javascript">//<![CDATA[
            // Google Analytics for WordPress by Yoast v4.3.3 | http://yoast.com/wordpress/google-analytics/
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-33077929-1']);
				            _gaq.push(['_trackPageview']);
            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
            //]]></script>
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.lottanieminen.com/wordpress/xmlrpc.php?rsd" />
</head>
<body id="home">
		<!--[if lte IE 7]><div id="disclaimer">This site is not yet compatible with older browsers.</div><![endif]-->
		<script type="text/javascript">$('body').hide();</script>
	<div id="header">
		<h1 id="title">Logo</h1>
		<ul id="navigation" class="clearfix">
			<li class="previous menu-item">
				<h2><a rel="#about-news" href="http://www.lottanieminen.com/#about-news">UX&UI Design<sup class="page-no"> &#8212; 1</sup></a></h2>
			</li>
			<li class="active menu-item">					<h2><a rel="#graphic-design" href="http://www.lottanieminen.com/#graphic-design">Industrial Design<sup class="page-no"> &#8212; 2</sup></a></h2>
			</li>
			<li class="next menu-item">
				<h2><a rel="#illustration" href="http://www.lottanieminen.com/#illustration">Graphic Design<sup class="page-no"> &#8212; 3</sup></a></h2>
			</li>
		</ul>
	</div>	

	<a class="back-to-top">^</a>

	<div id="content" class="clearfix">

		<div id="graphic-design" class="page clearfix previous" >
			<h3 class="subtitle">1</h3>
				<div class="first column clearfix">
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/travel-happy/"><img width="350" height="250" src="http://placehold.it/900x598/F9BCBE/ffffff" class="attachment-medium wp-post-image" alt="UP | Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/travel-happy/">1</a></h4>
					<div class="excerpt"><p>hello!have a nice day!<br>hello!have a nice day!</p></div>
				</div>

				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/ethiopian-airlines/"><img width="350" height="250" src="http://placehold.it/900x598/FAD2DC/ffffff" class="attachment-medium wp-post-image" alt="Selamta | Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/ethiopian-airlines/">2</a></h4>
					<div class="excerpt"><p>hello!have a nice day!<br>hello!have a nice day!</p></div>
				</div>

				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/cityscapes/"><img width="350" height="561" src="http://placehold.it/900x598/FBEBEC/ffffff" class="attachment-medium wp-post-image" alt="Central Park | Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/cityscapes/">3</a></h4>
					<div class="excerpt"><p>Series of 8 limited edition<br>silkscreen posters</p></div>
				</div>

				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/casamica/"><img width="350" height="250" src="http://placehold.it/900x598/E5D9E6/ffffff" class="attachment-medium wp-post-image" alt="lottanieminen_casamica-TH"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/casamica/">4</a></h4>
					<div class="excerpt"><p>Editorial illustration for design magazine <i>Casamica</i>.</p></div>
				</div>
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/spring-fever/"><img width="350" height="250" src="http://placehold.it/900x598/FBE2DD/ffffff" class="attachment-medium wp-post-image" alt="Spring Fever / Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/spring-fever/">5</a></h4>
					<div class="excerpt"><p>Poster for the <i>Pekka is Here</i> exhibition in Amsterdam.</p></div>
				</div>

			</div>
			<div class="second column clearfix">
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/volkswagen-2012/"><img width="350" height="561" src="http://placehold.it/900x598/F0C3D7/ffffff" class="attachment-medium wp-post-image" alt="Volkswagen | Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/volkswagen-2012/">2-1</a></h4>
					<div class="excerpt"><p>Poster illustration for<br>Volkswagen’s UK showrooms.</p></div>
				</div>
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/wrap/"><img width="350" height="250" src="http://placehold.it/900x598/FCE4E7/ffffff" class="attachment-medium wp-post-image" alt="Wrap Magazine | Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/wrap/">2-2</a></h4>
					<div class="excerpt"><p>Wrapping paper illustration for <i>Wrap</i><br>magazine’s 6th issue <i>Nordic Lights</i>.</p></div>
				</div>

				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/nobrow-n7/"><img width="350" height="250" src="http://placehold.it/900x598/F3EFEF/ffffff" class="attachment-medium wp-post-image" alt="Nobrow 7 / Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/nobrow-n7/">2-3</a></h4>
					<div class="excerpt"><p>Full spot color illustration for Nobrow N°7:  <em>Brave New World</em>. </p></div>
				</div>
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/hermes/"><img width="350" height="561" src="http://placehold.it/900x598/F3EFEF/ffffff" class="attachment-medium wp-post-image" alt="Hermès / Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/hermes/">2-4</a></h4>
					<div class="excerpt"><p>Window display illustrations <br> for seven Hermès stores.</p></div>
				</div>
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/suez-environnement/"><img width="350" height="250" src="http://placehold.it/900x598/FCE4E7/ffffff" class="attachment-medium wp-post-image" alt="Suez Environnement / Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/suez-environnement/">2-5</a></h4>
					<div class="excerpt"><p>Illustrations for the annual report<br>of Suez Environnement.</p></div>
				</div>

			</div>


			<div class="third column clearfix">
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/le-monde/"><img width="350" height="250" src="http://placehold.it/900x598/F6CEE1/ffffff" class="attachment-medium wp-post-image" alt="Le Monde | Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/le-monde/">3-1</a></h4>
					<div class="excerpt"><p>Illustrated map of Paris for<br>French newspaper <i>Le Monde</i>﻿.</p></div>
				</div>
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/shop-magazine/"><img width="350" height="250" src="http://placehold.it/900x598/FBE2DD/ffffff" class="attachment-medium wp-post-image" alt="Lotta Nieminen | Shop Magazine"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/shop-magazine/">3-2</a></h4>
					<div class="excerpt"><p>Cover illustration for a<br>Paris shopping guide.</p></div>
				</div>
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/tom-tom-gardens/"><img width="350" height="250" src="http://placehold.it/900x598/E5D9E6/ffffff" class="attachment-medium wp-post-image" alt="Tom Tom Gardens / Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/tom-tom-gardens/">3-3</a></h4>
					<div class="excerpt"><p>Series of illustrations for a private property development in Istanbul.</p></div>
				</div>
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/spots/"><img width="350" height="250" src="http://placehold.it/900x598/FBEBEC/ffffff" class="attachment-medium wp-post-image" alt="New York Times / Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/spots/">3-4</a></h4>
					<div class="excerpt"><p>Spot illustrations for <i>New York Times</i>, <i>Newsweek</i> and <i>Wired UK</i>.</p></div>
				</div>
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/tikau/"><img width="350" height="250" src="http://placehold.it/900x598/FAD2DC/ffffff" class="attachment-medium wp-post-image" alt="Tikau / Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/tikau/">3-5</a></h4>
					<div class="excerpt"><p>Illustration for hand embroidered carpet and pillow for Tikau.</p></div>
				</div>
				
			</div>

			<div id="nro2" class="page-number" style="display: none;">2</div>
			
		</div>


		<div id="illustration" class="page clearfix active" >
			<h3 class="subtitle">2</h3>
			<div class="first column clearfix">
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/travel-happy/"><img width="350" height="250" src="http://placehold.it/900x598/F9BCBE/ffffff" class="attachment-medium wp-post-image" alt="UP | Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/travel-happy/">1</a></h4>
					<div class="excerpt"><p>hello!have a nice day!<br>hello!have a nice day!</p></div>
				</div>

				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/ethiopian-airlines/"><img width="350" height="250" src="http://placehold.it/900x598/FAD2DC/ffffff" class="attachment-medium wp-post-image" alt="Selamta | Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/ethiopian-airlines/">2</a></h4>
					<div class="excerpt"><p>hello!have a nice day!<br>hello!have a nice day!</p></div>
				</div>

				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/cityscapes/"><img width="350" height="561" src="http://placehold.it/900x598/FBEBEC/ffffff" class="attachment-medium wp-post-image" alt="Central Park | Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/cityscapes/">3</a></h4>
					<div class="excerpt"><p>Series of 8 limited edition<br>silkscreen posters</p></div>
				</div>

				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/casamica/"><img width="350" height="250" src="http://placehold.it/900x598/E5D9E6/ffffff" class="attachment-medium wp-post-image" alt="lottanieminen_casamica-TH"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/casamica/">4</a></h4>
					<div class="excerpt"><p>Editorial illustration for design magazine <i>Casamica</i>.</p></div>
				</div>
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/spring-fever/"><img width="350" height="250" src="http://placehold.it/900x598/FBE2DD/ffffff" class="attachment-medium wp-post-image" alt="Spring Fever / Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/spring-fever/">5</a></h4>
					<div class="excerpt"><p>Poster for the <i>Pekka is Here</i> exhibition in Amsterdam.</p></div>
				</div>
			</div>

			<div class="second column clearfix">
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/volkswagen-2012/"><img width="350" height="561" src="http://placehold.it/900x598/F0C3D7/ffffff" class="attachment-medium wp-post-image" alt="Volkswagen | Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/volkswagen-2012/">2-1</a></h4>
					<div class="excerpt"><p>Poster illustration for<br>Volkswagen’s UK showrooms.</p></div>
				</div>
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/wrap/"><img width="350" height="250" src="http://placehold.it/900x598/FCE4E7/ffffff" class="attachment-medium wp-post-image" alt="Wrap Magazine | Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/wrap/">2-2</a></h4>
					<div class="excerpt"><p>Wrapping paper illustration for <i>Wrap</i><br>magazine’s 6th issue <i>Nordic Lights</i>.</p></div>
				</div>
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/nobrow-n7/"><img width="350" height="250" src="http://placehold.it/900x598/F3EFEF/ffffff" class="attachment-medium wp-post-image" alt="Nobrow 7 / Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/nobrow-n7/">2-3</a></h4>
					<div class="excerpt"><p>Full spot color illustration for Nobrow N°7:  <em>Brave New World</em>. </p></div>
				</div>
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/hermes/"><img width="350" height="561" src="http://placehold.it/900x598/F3EFEF/ffffff" class="attachment-medium wp-post-image" alt="Hermès / Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/hermes/">2-4</a></h4>
					<div class="excerpt"><p>Window display illustrations <br> for seven Hermès stores.</p></div>
				</div>
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/suez-environnement/"><img width="350" height="250" src="http://placehold.it/900x598/FCE4E7/ffffff" class="attachment-medium wp-post-image" alt="Suez Environnement / Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/suez-environnement/">2-5</a></h4>
					<div class="excerpt"><p>Illustrations for the annual report<br>of Suez Environnement.</p></div>
				</div>

			</div>

			<div class="third column clearfix">
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/le-monde/"><img width="350" height="250" src="http://placehold.it/900x598/F6CEE1/ffffff" class="attachment-medium wp-post-image" alt="Le Monde | Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/le-monde/">3-1</a></h4>
					<div class="excerpt"><p>Illustrated map of Paris for<br>French newspaper <i>Le Monde</i>﻿.</p></div>
				</div>
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/shop-magazine/"><img width="350" height="250" src="http://placehold.it/900x598/FBE2DD/ffffff" class="attachment-medium wp-post-image" alt="Lotta Nieminen | Shop Magazine"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/shop-magazine/">3-2</a></h4>
					<div class="excerpt"><p>Cover illustration for a<br>Paris shopping guide.</p></div>
				</div>
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/tom-tom-gardens/"><img width="350" height="250" src="http://placehold.it/900x598/E5D9E6/ffffff" class="attachment-medium wp-post-image" alt="Tom Tom Gardens / Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/tom-tom-gardens/">3-3</a></h4>
					<div class="excerpt"><p>Series of illustrations for a private property development in Istanbul.</p></div>
				</div>
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/spots/"><img width="350" height="250" src="http://placehold.it/900x598/FBEBEC/ffffff" class="attachment-medium wp-post-image" alt="New York Times / Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/spots/">3-4</a></h4>
					<div class="excerpt"><p>Spot illustrations for <i>New York Times</i>, <i>Newsweek</i> and <i>Wired UK</i>.</p></div>
				</div>
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/tikau/"><img width="350" height="250" src="http://placehold.it/900x598/FAD2DC/ffffff" class="attachment-medium wp-post-image" alt="Tikau / Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/tikau/">3-5</a></h4>
					<div class="excerpt"><p>Illustration for hand embroidered carpet and pillow for Tikau.</p></div>
				</div>
			</div>


		</div>


		<div id="about-news" class="page clearfix next" >
			<h3 class="subtitle">3</h3>
			<div class="first column clearfix">
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/travel-happy/"><img width="350" height="250" src="http://placehold.it/900x598/F9BCBE/ffffff" class="attachment-medium wp-post-image" alt="UP | Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/travel-happy/">1</a></h4>
					<div class="excerpt"><p>hello!have a nice day!<br>hello!have a nice day!</p></div>
				</div>

				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/ethiopian-airlines/"><img width="350" height="250" src="http://placehold.it/900x598/FAD2DC/ffffff" class="attachment-medium wp-post-image" alt="Selamta | Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/ethiopian-airlines/">2</a></h4>
					<div class="excerpt"><p>hello!have a nice day!<br>hello!have a nice day!</p></div>
				</div>

				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/cityscapes/"><img width="350" height="561" src="http://placehold.it/900x598/FBEBEC/ffffff" class="attachment-medium wp-post-image" alt="Central Park | Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/cityscapes/">3</a></h4>
					<div class="excerpt"><p>Series of 8 limited edition<br>silkscreen posters</p></div>
				</div>

				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/casamica/"><img width="350" height="250" src="http://placehold.it/900x598/E5D9E6/ffffff" class="attachment-medium wp-post-image" alt="lottanieminen_casamica-TH"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/casamica/">4</a></h4>
					<div class="excerpt"><p>Editorial illustration for design magazine <i>Casamica</i>.</p></div>
				</div>
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/spring-fever/"><img width="350" height="250" src="http://placehold.it/900x598/FBE2DD/ffffff" class="attachment-medium wp-post-image" alt="Spring Fever / Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/spring-fever/">5</a></h4>
					<div class="excerpt"><p>Poster for the <i>Pekka is Here</i> exhibition in Amsterdam.</p></div>
				</div>
			</div>

			<div class="second column clearfix">
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/volkswagen-2012/"><img width="350" height="561" src="http://placehold.it/900x598/F0C3D7/ffffff" class="attachment-medium wp-post-image" alt="Volkswagen | Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/volkswagen-2012/">2-1</a></h4>
					<div class="excerpt"><p>Poster illustration for<br>Volkswagen’s UK showrooms.</p></div>
				</div>
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/wrap/"><img width="350" height="250" src="http://placehold.it/900x598/FCE4E7/ffffff" class="attachment-medium wp-post-image" alt="Wrap Magazine | Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/wrap/">2-2</a></h4>
					<div class="excerpt"><p>Wrapping paper illustration for <i>Wrap</i><br>magazine’s 6th issue <i>Nordic Lights</i>.</p></div>
				</div>
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/nobrow-n7/"><img width="350" height="250" src="http://placehold.it/900x598/F3EFEF/ffffff" class="attachment-medium wp-post-image" alt="Nobrow 7 / Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/nobrow-n7/">2-3</a></h4>
					<div class="excerpt"><p>Full spot color illustration for Nobrow N°7:  <em>Brave New World</em>. </p></div>
				</div>
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/hermes/"><img width="350" height="561" src="http://placehold.it/900x598/F3EFEF/ffffff" class="attachment-medium wp-post-image" alt="Hermès / Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/hermes/">2-4</a></h4>
					<div class="excerpt"><p>Window display illustrations <br> for seven Hermès stores.</p></div>
				</div>
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/suez-environnement/"><img width="350" height="250" src="http://placehold.it/900x598/FCE4E7/ffffff" class="attachment-medium wp-post-image" alt="Suez Environnement / Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/suez-environnement/">2-5</a></h4>
					<div class="excerpt"><p>Illustrations for the annual report<br>of Suez Environnement.</p></div>
				</div>

			</div>

			<div class="third column clearfix">
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/le-monde/"><img width="350" height="250" src="http://placehold.it/900x598/F6CEE1/ffffff" class="attachment-medium wp-post-image" alt="Le Monde | Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/le-monde/">3-1</a></h4>
					<div class="excerpt"><p>Illustrated map of Paris for<br>French newspaper <i>Le Monde</i>﻿.</p></div>
				</div>
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/shop-magazine/"><img width="350" height="250" src="http://placehold.it/900x598/FBE2DD/ffffff" class="attachment-medium wp-post-image" alt="Lotta Nieminen | Shop Magazine"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/shop-magazine/">3-2</a></h4>
					<div class="excerpt"><p>Cover illustration for a<br>Paris shopping guide.</p></div>
				</div>
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/tom-tom-gardens/"><img width="350" height="250" src="http://placehold.it/900x598/E5D9E6/ffffff" class="attachment-medium wp-post-image" alt="Tom Tom Gardens / Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/tom-tom-gardens/">3-3</a></h4>
					<div class="excerpt"><p>Series of illustrations for a private property development in Istanbul.</p></div>
				</div>
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/spots/"><img width="350" height="250" src="http://placehold.it/900x598/FBEBEC/ffffff" class="attachment-medium wp-post-image" alt="New York Times / Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/spots/">3-4</a></h4>
					<div class="excerpt"><p>Spot illustrations for <i>New York Times</i>, <i>Newsweek</i> and <i>Wired UK</i>.</p></div>
				</div>
				<div class="work" style="width: 100%; float: none; margin: 0px;">    
					<a class="ajax thumbnail" href="http://www.lottanieminen.com/illustration/tikau/"><img width="350" height="250" src="http://placehold.it/900x598/FAD2DC/ffffff" class="attachment-medium wp-post-image" alt="Tikau / Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="http://www.lottanieminen.com/illustration/tikau/">3-5</a></h4>
					<div class="excerpt"><p>Illustration for hand embroidered carpet and pillow for Tikau.</p></div>
				</div>
			</div>

		</div>
						
	
    </div>

</body>
