<%= render :partial => "layouts/header_logo" %>

<div id="about_content">
	<div style="position:relative; margin:auto;display:block; width:60%; text-align:center;s">
	<h3 class="ko"style=" margin-top:50px;color:#666;width:65%; margin:auto;">죄송합니다. 이페이지는 현재 준비중에 있습니다. 조금만 기다려주세요 :) </h3>
	<h3 style="color:#666; width:65%; margin:auto;">Sorry. This page is in preparation.Hold on a minute, please.</h3>
</div>
	<!--
	<h1>Me</h1>
	<h1>Ability</h1>
	<h1>Interest</h1>
-->
</div>
