<div id="footer">
	<%=image_tag "/assets/favvvv.png", class: "logo_test attachment-medium wp-post-image"%>
	<p style="font-size:10px; text-align:center;padding-top:3px; color:#cccccc;">Copyright ©2014 - 2014 Choibg</p>
</div>