<!--<div id="#header">
<div id="mobileNav" class="menu-open"><div class="wrapper">
    <div id="topNav">
		<nav class="main-nav mobile-nav">
			<ul>
          	<li class="blog-collection active-link">
              <a href="/">HOME</a>
          	</li>
          	<li class="page-collection">
              <a href="/archive/">ABOUT</a>
          	</li>
          	<li class=" folder external-link">   
              <a href="/?category=reviews">WORK</a>
           	</li>
          	<li class=" folder external-link">
              <a href="/?category=sketches">ARCHIVE</a>
           	</li>

			</ul>
</nav>
</div>
  </div></div>
</div>-->






	<div id="header">
		<!-- Home, About, Work, Archive -->

		<div id="topNav" class="sqs-announcement-bar-dropzone"style="background-color:white;">
			
  			<nav class="main-nav dropdown-hover desktop-nav">
  				<ul>
      				<li style="color:#666"><a href="/">Home</a></li>
      				<li ><a href="/about/main">About</a></li>
      				<li> <%=image_tag "/assets/favvvv.png", class: "logo_test attachment-medium wp-post-image"%></li>
      				<li ><a href="/work/main">Work</a></li>
   		    		<li ><a href="/archive/main">Archive</a></li>
   		    		<!--<li id="mobileMenuLink"><a id="yui_3_10_1_1_1399180689737_453">Menu</a></li>-->
   		    		
 				</ul>
  			</nav>


  		</div>
  		<!--Logo, UX&UI Design, Industrial Design, Graphic Design --> 
  </div>
<div  style="position:absolute; padding-top:120px; z-index:3000;">		
		<ul id="navigation" class="clearfix" >
			<li class="previous menu-item">
				<h2><a rel="#about-news" href="#">UX&UI Design</a></h2>	
				<p class>
			</li>
			<li class="active menu-item">					
				<h2><a rel="#graphic-design" href="#">Industrial Design</a></h2>
			</li>
			<li class="next menu-item">
				<h2><a rel="#illustration" href="#">Graphic Design</a></h2>
			</li>
		</ul>
	</div>