	<div id="header">
		<!-- Home, About, Work, Archive -->
		<div id="topNav" class="sqs-announcement-bar-dropzone">
  			<nav class="main-nav dropdown-hover desktop-nav">
  				<ul>
      				<li style="color:#666"><a href="/">Home</a></li>
      				<li ><a href="/about/main">About</a></li>
      				<li ><a href="/work/main">Work</a></li>
   		    		<li ><a href="/archive/main">Archive</a></li>
 				</ul>
  			</nav>
  		</div>
  		<!--Logo, UX&UI Design, Industrial Design, Graphic Design --> 
		<h1 id="title"> <%=image_tag "/assets/logo17.png", class: "attachment-medium wp-post-image"%></h1>
		<ul id="navigation" class="clearfix">
			<li class="previous menu-item">
				<h2><a rel="#about-news" href="/work/UxandUI">UX&UI Design</a></h2>
			</li>
			<li class="active menu-item">					
				<h2><a rel="#graphic-design" href="/work/Industrial">Industrial Design</a></h2>
			</li>
			<li class="next menu-item">
				<h2><a rel="#illustration" href="/work/Graphic">Graphic Design</a></h2>
			</li>
		</ul>
	</div>