	<div id="header">
		<!-- Home, About, Work, Archive -->
		<div id="topNav" class="sqs-announcement-bar-dropzone">
  			<nav class="main-nav dropdown-hover desktop-nav">
  				<ul>
      				<li ><a href="/">Home</a></li>
      				<li ><a href="http://localhost//about/main">About</a></li>
      				<li ><a href="http://localhost/work/main">Work</a></li>
   		    		<li ><a href="http://localhost//archive/main">Archive</a></li>
 				</ul>
  			</nav>
  		</div>
	</div>